@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
body {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0,0, 0.2);
    position: fixed;
    top: 0;
    width: 100vw;
    margin-left: 0;
}

#logo {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

}

#nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 22px;
}

#butt {
    padding: 15px 10px;
    background-color: rgb(229, 233, 233);
    border-radius: 3px;
    border: 1px solid;

}

#butt a {
    text-decoration: none;
    color: black;
}

#butt:hover {
    background-color: rgb(219, 133, 133);

}


/* HERO         */

#hero {
    background-image: url('../assets/images/pexels-vidalbalielojrfotografia-4006979.jpg');
    background-size: cover;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0,0, 0.2);
     
}

.hero-overlay {
    /* justify-content: center;
text-align: center; */
    padding-top: 20%;
    margin-left: 60px;
}

.hero-overlay h1 {
    color: rgb(220, 220, 220);
    font-size: 80px;
    font-family: 'Montserrat';
}

.hero-overlay p {
    color: #a7e7eb;
    margin-bottom: 41px;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5;
    width: 800px;
}

#butn {
    background: #f9fbf4;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 20px 35px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(231, 51, 19) 50%) right;
    background-size: 200%;
    transition: .5s ease-out
}

#butn a {
    text-decoration: none;
    color: #090909;
}

#butn:hover {


    background-position: left;
}

/* second container  */

#first-content {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}

.inner-1 {
    margin-left: 90px;
}

.inner-1 img {
    margin-top: 70px;
    width: 500px;
    height: 90vh;
    border-top-left-radius: 40%;
}

.inner-2 {
    text-align: center;
    padding-top: 200px;
    margin-left: 30px;
    width:40vw;
}

.inner-2 h1 {
    color: #2D0000;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 30px
}

.inner-2 h3 {
    font-size: 24px;
    font-weight: 400;
    color: #2D0000;
    line-height: 1.4;
    font-family: 'poppins';
    text-align: left;
    padding-bottom: 20px;
}

.inner-2 p {
    font-size: 20px;
    color: #6B5A5A;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 40px;
    font-family: 'poppins';
    text-align: left;
}

.over {
    /* position: absolute; */
    width: 194px;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 10px;
    background: #e33232;
    text-align: center;
    margin-top: 500px;
    margin-left: -120px;
    border-radius: 2px;

}

.over p {
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px;
    color: white;
}


main {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    width: 90vw;
    height: 70vh;
}

#Practice h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'roboto';
    padding-top: 30px;
}

.practice-areas {
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-left: 40px;
}

.practice-area {
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;

}

.practice-area h2 {
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Montserrat';
    margin-bottom: 10px;

}

.practice-area p {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.6;
}

.quote-form {
    flex: 1;
    background-color: #e44646;
    padding: 1rem;
    border: 1px solid #7e7e7e;
    /* border-radius: 8px; */
    margin-left: 20px;
    border-top-right-radius: 30%;
    margin-right: -30px;

}

.imgg {
    height: 100px;
    width: 100px;
}

.quote-form h2 {
    margin-top: 0;
    font-family: 'poppins';
}

.quote-form form {
    display: flex;
    flex-direction: column;
}

.quote-form label {
    margin-top: 1rem;
}

.quote-form input,
.quote-form select,
.quote-form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.quote-form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quote-form button:hover {
    background-color: #555;
}


#discover {
    background-image: url('../assets/images/pexels-cottonbro-3957987.jpg');
    background-size: cover;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
}

.discover-over h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    color: #ffffff;
    font-family: 'poppins';
    padding-top: 150px;
}

.discover-over p {
    text-align: center;
    font-size: 25px;
    font-family: 'roboto';
    color: rgb(255, 255, 255);
    line-height: 1.6;
 padding-left: 190px;
 padding-right: 190px;
}

.ww {
    text-align: center;
}

#but {
    background: #f9fbf4;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 20px 35px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(231, 51, 19) 50%) right;
    background-size: 200%;
    transition: .3s ease-out
}

#but a {
    text-decoration: none;
    color: #090909;
}

#but:hover {
    background-position: left;
}


#swipe{
    /* background-image: url('../assets/images/pexels-jonathanborba-3279209.jpg'); */
    background-size: cover;
    background-color: #efeeee;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
   margin-top: 3px;

}








/* General styles */
#j {
    padding: 40px 0;
    background-color: #f3f7fb;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
 
}

/* Card styles */
.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-item, .card-item1 {
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 30%;
    height: 550px;
    width: 100%;
    max-width: 550px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 

}

.card-item1 {
    background-image: url('../assets/images/pexels-cdc-library-3993239.jpg');
    margin-right:  30px;
}

.card-item {
    background-image: url('../assets/images/pexels-olly-3765115.jpg');
}

.card-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-left:250px;
    border-radius: 10px;
    margin-bottom: -100px;
    width:290px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content h3 {
    color: #b51c1d;
    font-family: 'Poppins', sans-serif;
}

.card-content h2, .card-content p {
    margin-top: 10px;
}

.card-content .read-more {
    color: #b51c1d;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.card-content .read-more:hover {
    text-decoration: underline;
}





/* Footer Styles */
footer {
    background-color: #893e3e;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    margin-top:70px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #e7d4d4;
    color: #333;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.profile .info h2 {
    margin: 0;
    font-size: 1.5em;
}

.profile .info p {
    margin: 0;
    font-size: 0.9em;
}

.contact {
    display: flex;
    align-items: center;
}

.contact p {
    margin-right: 10px;
    font-size: 1.2em;
}

.contact a {
    display: flex;
    align-items: center;
    background-color: #b50000;
    padding: 10px 20px;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
}

.contact a i {
    margin-right: 10px;
}

.footer-content {
    padding: 20px 10%;
    display: block;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-section p {
 font-size: 18px;
 
}

.logo-section img {
    max-width: 150px;
    margin-bottom: 20px;
    border-radius:70px;
}

.footer-links {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    justify-content: center;
}

.footer-links a {
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.1em;
    padding-left: 13px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-top: 1px solid #fff;
}

.contact-info {
    font-size: 1em;
}

.social-icons a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.copyright {
    padding: 10px 10%;
    font-size: 0.9em;
}


