.swiper {
    width: 50vw;
    height: 50vh;
   margin-right: 0px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0,0, 0,-0.1);
    display: block;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, rgba(255, 122, 13, 0.121),rgba(222, 136, 96, 0.665)); */
  }

  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  .swiper-slide h1{
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'roboto';
    margin-top: 40px;
    margin-bottom: 35px;
    color: white;
  }

  .swiper-slide p{
    line-height: 1.6;
    color: white;
    font-size: 29px;
  }
  .swiper-slide img{
    height: 30px;
    width: 30px;
  }